blitpunk-canvas {
  display: inline-block;
  font-size: 0;
  margin: 0;
  padding: 0;

  & > canvas {
    border: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;

    touch-action: none;
    user-select: none;
  }
}

blitpunk-scene,
blitpunk-texture-atlas,
blitpunk-sprite-group {
  display: none;
}
