{
    "presets": [
        ["env", {
            "targets": {
                "node": "current",
                "browsers": [
                    "ios_saf >= 10",
                    "firefox >= 52",
                    "chrome >= 57"
                ]
            }
        }]
    ]
}
