{
    "presets": [
        ["env", {
            "targets": {
                "browsers": [
                    "safari >= 10",
                    "ios_saf >= 10",
                    "firefox >= 52",
                    "chrome >= 58"
                ]
            }
        }]
    ]
}
