body { margin: 0; }

.visualRegressions {
  background-color: #fafafa;
  padding-top: 8px;
  width: 100%;
  overflow-y: auto;
}

.visualRegressions__row {
  display: inline-flex;
  margin-right: 16px;
}

.picimo,
.visualRegressions__canvasContainer {
  flex: 0 0 300px;
  width: 300px;
  height: 150px;
  margin: 0 0 16px 16px;
  background-color: #bcd;
  background-image: url("/canvas-background-pattern.png");
  background-repeat: repeat;

  /* border: 1px solid #333; */
  box-shadow: 1px 1px 10px rgb(245, 250, 255), 1px 1px 20px rgb(230, 240, 250);
}

.picimo pi-canvas,
.visualRegressions__canvas {
  width: 300px;
  height: 150px;
  image-rendering: pixelated;
}

.menuOverlay {
  height: 32px;
  overflow: hidden;
  background-color: #333;
}

.menuLinks {
  margin: 0;
  padding: 0;
}

.menuLink {
  display: inline-block;
  height: 32px;
  margin-left: 16px;
  line-height: 30px;
  color: #aaa;
}

.menuLink > a {
  color: #ffff80;
  text-decoration: none;
  cursor: pointer;
}

.menuLink > a:hover {
  color: #f06;
  text-decoration: underline;
}

/*
#mocha-stats {
  top: 40px;
}
*/
