body { margin: 0; }

.visualRegressions {
  background-color: #f0f0f0;
  padding-top: 8px;
  width: 100%;
  overflow-y: auto;
}

.visualRegressions__row {
  display: inline-flex;
  margin-right: 16px;
}

.picimo,
.visualRegressions__canvasContainer {
  flex: 0 0 300px;
  width: 300px;
  height: 150px;
  margin: 0 0 16px 16px;
  border: 1px solid #333;
  background-color: #bcd;
  background-image: url("/canvas-background-pattern.png");
  background-repeat: repeat;
}

.picimo pi-canvas,
.visualRegressions__canvas {
  width: 300px;
  height: 150px;
  image-rendering: pixelated;
}

.menuOverlay {
  height: 32px;
  overflow: hidden;
  background-color: #333;
}

.menuLinks {
  margin: 0;
  padding: 0;
}

.menuLink {
  display: inline-block;
  height: 32px;
  margin-left: 16px;
  line-height: 30px;
  color: #aaa;
}

.menuLink > a {
  color: #ffff80;
  text-decoration: none;
  cursor: pointer;
}

.menuLink > a:hover {
  color: #f06;
  text-decoration: underline;
}

/*
#mocha-stats {
  top: 40px;
}
*/
