
.markupPage {
  h2 {
    margin-top: 1rem;
  }

  section {
    border-radius: 16px;
    background-color: #fff;
    padding: 1rem 1rem 3rem;
    margin-bottom: 2rem;
    box-shadow: 1px 1px 10px #f0f0f0, 1px 1px 20px #f0f0f0;
  }
}
